   <!doctype html>
    <title>Is this a picture of Obama?</title>
    <h1>Upload a picture and see if it's a picture of Obama!</h1>
    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form><br>
   Register
   <form method="POST" enctype="multipart/form-data" action="/register">
      <input type="text" name="name">
	  <input type="text" name="email">
       <input type="file" name="file">

      <input type="submit" value="Upload">
    </form><br>